<app-header></app-header>
<div class="container-fluid">
  <div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
      Company Details
    </h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModalLong"
        >
          Add Company
        </button>

        <table
          class="table table-bordered table-responsive-md table-striped text-center"
        >
          <tr>
            <th class="text-center">Comapny Code</th>
            <th class="text-center">Company Name</th>
            <th class="text-center">Company CEO</th>
            <th class="text-center">Company Turnover</th>
            <th class="text-center">Website</th>
            <th class="text-center">Action</th>
          </tr>
          <tr *ngFor="let comp of companyData; let id = index">
            <td>
              <span contenteditable="true">{{ comp.company_id }}</span>
            </td>
            <td>
              <span contenteditable="true">{{ comp.company_name }}</span>
            </td>
            <td>
              <span contenteditable="true">{{ comp.company_ceo }}</span>
            </td>
            <td>
              <span contenteditable="true">{{ comp.company_turnover }}Cr.</span>
            </td>
            <td>
              <span contenteditable="true">{{ comp.company_website }}</span>
            </td>
            <td>
              <button class="btn btn-secondary btn-sm" style="margin: 3px">
                <i class="fa fa-trash"></i> Edit
              </button>
              <button class="btn btn-secondary btn-sm">
                <i class="fa fa-trash"></i> Delete
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<ng-template #noCompanies>
  <h5>There are no clients in the system.</h5>
</ng-template>

<!-- Button trigger modal -->

<ng-template #openAddCompanyModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Company</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- [formGroup]="addCompanyForm" -->
    <form>
      <div class="editableForm">
        <label for="inputEmail" class="sr-only">Company Code</label>Company
        Code:
        <input
          type="text"
          class="form-control"
          formControlName="company_id"
          placeholder="Company Code"
          required
          autofocus
        />
      </div>
      <div class="editableForm">
        <label for="inputPassword" class="sr-only">Company Name</label>Company
        Name:
        <input
          type="text"
          class="form-control"
          formControlName="company_name"
          placeholder="Company Name"
          required
        />
      </div>
      <div class="editableForm">
        <label for="inputPassword" class="sr-only">Company CEO</label>Company
        CEO:
        <input
          type="text"
          class="form-control"
          formControlName="company_ceo"
          placeholder="Company CEO"
          required
        />
      </div>
      <div class="editableForm">
        <label for="inputPassword" class="sr-only">Company Turnover</label
        >Company Turnover:
        <input
          type="text"
          class="form-control"
          formControlName="company_turnover"
          placeholder="Company Turnover In Crore"
          required
        />
      </div>
      <div class="editableForm">
        <label for="inputPassword" class="sr-only"
          >Company Website Details</label
        >Company Website Details:
        <input
          type="text"
          class="form-control"
          formControlName="company_website"
          placeholder="Company Website Url"
          required
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click'); addCompany()"
    >
      <!-- [disabled]="addCompanyForm.invalid" -->
      Add
    </button>
  </div>
</ng-template>
<!--add company modal end-->
<!--company search modal start-->
<ng-template #searchCompanyModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Company Search</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- [formGroup]="companySearchForm" -->
    <form>
      <div class="editableForm">
        <label for="inputPassword" class="sr-only">Company Code</label>Company
        Code:
        <input
          type="text"
          class="form-control"
          formControlName="company_id"
          placeholder="Company Code"
          required
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="
        modal.dismiss('Cross click');
        searchCompany();
        openModal(searchedCompanyModalResult)
      "
    >
      <!-- [disabled]="companySearchForm.invalid" -->
      Search
    </button>
  </div>
</ng-template>
<!--company search modal end-->
<ng-template #searchedCompanyModalResult let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Company Search</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th class="text-center">Comapny Code</th>
          <th class="text-center">Company Name</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><i class="fa fa-list"></i>{{ searchResult.company_id }}</td>
          <td>{{ searchResult.company_name }}</td>
          <td>
            <button
              class="btn btn-outline-primary"
              (click)="
                modal.dismiss('Cross click');
                viewDetails(viewCompanyModal, searchResult)
              "
            >
              <i class="fa fa-eye"></i>View
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
<!-- view  modal start-->
<ng-template #viewCompanyModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Company Details</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="editableForm">
        <label for="inputEmail" class="sr-only">Company Code</label>Company
        Code:
        <input
          type="text"
          class="form-control"
          formControlName="company_id"
          placeholder="{{ modalcontent.company_id }}"
          readonly
          autofocus
        />
      </div>
      <div class="editableForm">
        <label for="inputPassword" class="sr-only">Company Name</label>Company
        Name:
        <input
          type="text"
          class="form-control"
          formControlName="company_name"
          placeholder="{{ modalcontent.company_name }}"
          readonly
        />
      </div>
      <div class="editableForm">
        <label for="inputPassword" class="sr-only">Company CEO</label>Company
        CEO:
        <input
          type="text"
          class="form-control"
          formControlName="company_ceo"
          placeholder="{{ modalcontent.company_ceo }}"
          readonly
        />
      </div>
      <div class="editableForm">
        <label for="inputPassword" class="sr-only">Company Turnover</label
        >Company Turnover:
        <input
          type="text"
          class="form-control"
          formControlName="company_turnover"
          placeholder="{{ modalcontent.company_turnover }}"
          readonly
        />
      </div>
      <div class="editableForm">
        <label for="inputPassword" class="sr-only"
          >Company Website Details</label
        >Company Website Details:
        <input
          type="text"
          class="form-control"
          formControlName="company_website"
          placeholder="{{ modalcontent.company_website }}"
          readonly
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.dismiss('Cross click')"
    >
      Close
    </button>
  </div>
</ng-template>
<!--view  modal end-->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalLong"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
