<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto lg-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/create-company"
            routerLinkActive="active"
            >Add Company</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/addstock" routerLinkActive="active"
            >Add Stock</a
          >
        </li>
      </ul>

      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item" style="margin: 0px 0px 0px 372px">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
